* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'DM Sans', sans-serif;
}

/* Reset CSS */
a {
  color: inherit;
  text-decoration: none;
}

button,
input,
textarea {
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
}

button:focus,
button:active,
input:focus,
input:active,
textarea:focus,
textarea:active {
  outline: none;
  box-shadow: none;
}

ul,
ol,
li {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}

p {
  font-size: 16px;
  line-height: 1.5;
  color: #2b292d;
  letter-spacing: -0.01em;
}

.fill-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 48px;
  border-radius: 2px;
  font-size: 15px;
  font-weight: 700;
  line-height: 1.6;
  letter-spacing: -0.05em;
  background-color: #3040c4;
  color: #fff;
  transition: opacity 300ms ease-in-out;
}

.fill-button.inverted {
  color: #3040c4;
  background-color: #fff;
}

.fill-button:hover {
  opacity: 0.5;
}

.section {
  padding: 80px 0;
}

.section-category {
  display: block;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.01em;
  margin-bottom: 8px;
}

.section-title {
  margin-bottom: 24px;
  font-size: 34px;
  line-height: 1.05;
  letter-spacing: -0.04em;
  color: #2b292d;
}

/* Landing */
.landing {
  background-color: #fdded8;
  text-align: center;
}

.landing-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.landing-title {
  font-size: 40px;
  line-height: 1;
  letter-spacing: -0.05em;
  color: #2b292d;
  margin-bottom: 24px;
}

.landing-desc {
  margin-bottom: 20px;
}

.landing .button-group {
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing .button-group .fill-button:first-child {
  margin-right: 8px;
}

/* Service */
.service {
  padding: 80px 0;
  background-color: #f4f5f7;
}

.service .col-12:first-child {
  margin-bottom: 40px;
}

.service-title {
  font-size: 20px;
  line-height: 1.36363636;
  letter-spacing: -0.03em;
  color: #2b292d;
  margin-bottom: 16px;
}

/* Program */
.program .section-category {
  color: #009b4d;
}

/* >= 768px (DeskTop) */
@media screen and (min-width: 768px) {
  /* Reset CSS */
  p {
    font-size: 22px;
    line-height: 1.363636;
  }

  .fill-button {
    width: 160px;
    height: 56px;
    font-size: 18px;
    line-height: 1.555556;
  }

  .section {
    padding-bottom: 96px;
  }

  .section-category {
    font-size: 22px;
    line-height: 1.0909;
    font-weight: 700;
    margin-bottom: 16px;
  }

  .section-title {
    font-size: 56px;
    line-height: 1;
    margin-bottom: 32px;
  }

  /* Landing */
  .landing-content {
    height: auto;
    padding: 120px 0px;
  }

  .landing-title {
    font-size: 70px;
    line-height: 1.02;
    margin-bottom: 32px;
  }

  .landing-desc {
    margin-bottom: 32px;
  }

  .landing .button-group .fill-button:first-child {
    margin-right: 16px;
  }

  /* Service */
  .service-title {
    font-size: 26px;
    line-height: 1.307;
  }

  .service .col-12:first-child {
    margin-bottom: 0;
  }

  /* Program */
  .program {
    text-align: center;
  }
}

/* Custom Grid System - Fix container width */
@media screen and (min-width: 1200px) {
  .container {
    max-width: 960px !important;
  }
}
